{% extends 'blog/base.html' %}
<html>
    <head></head>
    <body>
        {% block content %}
            <h1 class="container mt-5" >List page!</h1>
            {% for post in posts %}
                <div class="container">
                    <h2><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></h2>
                    <a class="mr-2" href="{% url 'user-post' post.author.username %}">{{post.author}}</a>
                    <p>{{post.content}}</p>
                </div>
            {% endfor %}
            {% if is_paginated %}
            <ul class=" container pagination"> 
                {% if page_obj.has_previous %}
                    <button class="btn btn-outline-info"><a href="?page={{page_obj.previous_page_number}}">&laquo;</a></button>
                {% else %}
                    <button class="disabled btn btn-ouline-info"><span>&laquo;</span></button>
                {% endif %}
                
                {% for i in paginator.page_range %}
                    {% if i == page_obj.number %}
                        <button class="active btn-info">{{i}}</button>
                    {% else %}
                        <button class="btn btn-outline-info"><a href="?page={{i}}">{{i}}</a></button>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <button class="btn btn-outline-info"><a href="?page={{page_obj.next_page_number}}">&raquo;</a></button>
                {% else %}
                    <button class="disabled disabled btn btn-ouline-info"><span>&raquo;</span></button>
                {% endif %}
            </ul>
            {% endif %}
        {% endblock %}
    </body>
</html>