{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
<html>
    <head>
    </head>
    <body>
        {% block content %}
        <div class='container mt-5'>
            <form method="POST">
                <legend>Login Now!</legend>
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-outline-info" type="submit">LogIn</button>
            </form>
            <small>Don't have an account?<a href="{% url 'register' %}">Sign Up</a></small>
        {% endblock %}
        </div>
    </body>
</html>