{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
<html>
    <head>
    </head>
    <body>
        {% block content %}
        <div class='container mt-5'>
            <form method="POST">
                <legend>Password Reset Page!</legend>
                {% csrf_token %}
                <p>Enter your email and we will send you a link to reset your password!</p>
                {{form|crispy}}
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </form>
        {% endblock %}
        </div>
    </body>
</html>