{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
<html>
    <head></head>
    <body>
        {% block content %}
        <div class="container mt-5">
            {% if user.is_authenticated %}
                <h2>{{user.username}}</h2>
                <p>{{user.email}}</p>
                <img src="{{user.profile.image.url}}" class="img-thumbnail" width="200px" height="200px">

                <form method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{u_form|crispy}}
                    {{p_form|crispy}}
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </form>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>